#page {
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#titleDiv {
background-color:var(--accent-color);
text-align: center;
padding: 1rem 0rem; /*0 rem for width padding as width will automaticaly be the max of all the divs in the container*/
}

#messageDiv {
background-color:whitesmoke;
display: flex;
flex-direction: column;
align-items: center;
padding: 2rem;
color: var(--text-color-secondary);
} 
